= render "header"
- title(params[:s])

#posts.row
  - @output.each do |item|
    .col-xs-12.col-md-4.item
      .well
        - if item.is_a?(OpenStruct)
          %h4= link_to item.name.titleize, subreddit_path(subreddit: item.name)
        - else
          %h4= link_to item.title.titleize, subreddit_path(subreddit: item.display_name)
          = link_to image_tag(item.header_img), subreddit_path(subreddit: item.display_name) if item.header_img.present?
          %p #{item.subscribers} Subscribers
          - if item.description.present?
            .hidden= markdownify(item.description).html_safe