.page-header.text-center
  %h1= link_to "/r/#{sub.name}", subreddit_path(subreddit: sub.name)
  %p.sorting-options
    %small
      - %w{top/day hot new controversial/day rising}.each do |category|
        %span.label.label-default= link_to category.split("/").first, params.merge({category: category, after: nil, time: nil, stream: nil}), class: "#{'active' if params[:category] == category}"
      %span.label.label-default= link_to "comment stream", comment_stream_path(subreddit: sub.name)
    - if params[:category].present? && ["top", "controversial"].include?(params[:category])
      %small
        |
        - %w{hour day week month year all}.each do |time|
          %span.label.label-warning= link_to time, params.merge({time: time, stream: nil}), class: "#{'active' if params[:time] == time}"
  %h3 #{pluralize(sub.attributes[:subscribers], "subscriber")}