- if @sub.present?
  = render "header", sub: @sub
  - title(@sub.name)
- else
  - title("All Recent Links")

#posts.row
  - @output.each do |item|
    .col-xs-12.col-md-4.item
      = render "item", item: item, tlength: 200

- if @sub.present?
  = link_to "Next Page", next_page_link(@sub.options), class: "btn btn-info col-xs-12"
- else
  = link_to "Next Page", next_page_link(params.merge({ after: @links.after })), class: "btn btn-info col-xs-12"

- if @sub.present?
  .page-header
    .text-center
      = render "shared/related", sub: @sub