!!!
%html
  %head
    %title= yield(:title)
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{class: "#{'hide-nsfw' unless session[:show_nsfw]}"}
    .container-fluid
      %details
        %summary.text-center Filter Subreddits
        .text-center
          - subs.each do |sub|
            %span.label.label-default= link_to sub.name.titleize, subreddit_path(subreddit: sub.name)
    .container
      = yield
